* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* btn-start etiketi */
.btn-start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* quiz-box etiketi */
.quiz-box {
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.8s ease;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.timer {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #143f68;
}

.time-second {
    width: 25px;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    background-color: #F0A500;
}

.time-line {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background-color: #F0A500;
}

/* quiz-box etiketi */
.question-text {
    padding: 15px 0;
}

.option {
    margin: 10px 0px;
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid #151D3B;
    border-radius: 5px;
    transition: all 0.8s;
}

.option:hover {
    background-color: #ffc107;
}

.option.correct {
    color: #155724;
    background-color: #d4edda;
}

.option.incorrect {
    color: #721c24;
    background-color: #f8d7da;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-next {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

/* score-box etiketi */
.score-box {
    width: 50%;
    margin: 0 auto;
    padding: 15px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    border: 1px solid #151D3B;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.8);
    background-color: #fff;
    transition: all 0.8s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.score-box i {
    color: #0d6efd;
    font-size: 96px;
}

.score-text {
    margin: 15px 0px;
    font-weight: 700;
}

/* active sınıfı */
.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1.0);
}

/* show sınıfı */
.show {
    opacity: 1;
    pointer-events: auto;
}

/* disabled sınıfı */
.disabled {
    pointer-events: none;
}